img {
    background-color: red;
    
}

h3{
    color: blue;
}



.conference h4{
    position: absolute;
    left:15%;

}

.conference p{
    display: inline-block;
    margin-left: 2%;
    width: 35%;
    height:100px;
    padding-top:3%;
}

.conference img{
    float: left;
    clear: both;
}